/* =Single Model template
------------------------------------------------------------ */
.wps-single- {
	overflow: hidden;
}

.wps-single- div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wps-single- .-image-wrap img {
	display: block;
	width: 100%;
	max-width: 100%;
}

.wps-single- .-image-wrap img {
	height: auto;
}

.-meta,
#-tabs,
#-map,
#-agent,
.-details,
.additional-features {
	clear: both;
	margin-bottom: 30px;
}

.wps-single- .-image-wrap {
	position: relative;
	overflow: hidden;
}

.wps-single- .-image-wrap img {
	margin: 0;
	padding: 0;
}

.wps-single- .-image-wrap span {
	position: absolute;
	color: #333;
	font-size: 16px;
	background: #fff;
}

.wps-single- .-image-wrap span.-status {
	width: 150px;
	padding: 5px;
	top: 25px;
	left: -35px;
	font-size: 14px;
	line-height: 18px;
	-moz-transform: scale(1) rotate(-45deg) translate(0px);
	-webkit-transform: scale(1) rotate(-45deg) translate(0px);
	-o-transform: scale(1) rotate(-45deg) translate(0px);
	transform: scale(1) rotate(-45deg) translate(0px);
}

.wps-single- .-image-wrap span.-open-house {
	left: 0;
	bottom: 0;
	padding: 5px 12px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	background: #be1d2c;
	background: rgba(190,29,44,0.75);
	box-shadow: 2px -2px 1px rgba(0, 0, 0, 0.2);
}

.wps-single- .-meta {
	list-style-type: none;
	width: 100%;
	overflow: hidden;
	margin: 0 0 30px;
	padding: 0;
	background: #f5f5f5;
}

.wps-single- .-meta li {
	float: left;
	display: inline-block;
	padding: 8px 0 8px 25px;
	margin: 0;
	font-size: 13px;
	font-weight: 700;
	line-height: 35px;
}

.wps-single- .-meta li span.label {
	font-weight: 400;
}

.wps-single- .-meta li.-price {
	position: relative;
	top: 0;
	left: 0;
	color: #fff;
	font-size: 16px;
	padding-right: 25px;
	background: #53c331;
	border-radius: 0;
}

.wps-single- .ui-tabs {
	zoom: 1;
}

.wps-single- .ui-tabs .ui-tabs-nav {
	list-style: none;
	position: relative;
	padding: 0;
	margin: 0;
}

.wps-single- .ui-tabs .ui-tabs-nav li {
	list-style-type: none;
	position: relative;
	float: left;
	margin: 0 3px -1px 0;
	padding: 0;
}

.wps-single- .ui-tabs .ui-tabs-nav li a {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	display: block;
	padding: 10px 20px;
	background: #999;
	outline: none;
	border: none;
	border-radius: 3px 3px 0 0;
}

.wps-single- .ui-tabs .ui-tabs-nav li.ui-tabs-active {
}

.wps-single- .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
	padding: 10px 20px;
	color: #666;
	background: #fff;
	border: 1px solid #ccc;
	border-bottom-style: none;
}

.wps-single- .ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.wps-single- .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.wps-single- .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: default;
}

.wps-single- .ui-tabs .ui-tabs-nav li a,
.wps-single- .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	text-decoration: none;
	cursor: pointer;
}

.wps-single- .ui-tabs .ui-tabs-panel {
	display: block;
	padding: 15px;
	clear: both;
	border: 1px solid #ccc;
	border-radius: 0 3px 3px 3px;
}

.wps-single- .ui-tabs .ui-tabs-hide {
	display: none;
}

.wps-single- table {
	width: 100%;
}

.wps-single- tbody {
	display: inline-table;
	width: 48%;
	margin-right: 2%;
	vertical-align: top;
}

.wps-single- tbody.right {
	margin-right: 0;
}

.wps-single- td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
	padding: 0.6rem 0;
}

.wps-single- table tr.wp_s__open_house {
	display: none;
}

.wps-single- table tr:nth-child(even) {
	background: #f5f5f5;
}

.wps-single- td {
	vertical-align: middle;
}

.wps-single- td.label {
	padding-left: 5px;
	font-size: 14px;
	text-transform: uppercase;
}

.wps-single- .tagged-features {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.wps-single- .tagged-features li {
	float: left;
	width: 22.9%;
	margin: 0 2% 20px 0;
	list-style-type: none;
}

.wps-single- .tagged-features li:before {
	color: #53c331;
	font-family: 'FontAwesome';
	font-size: 16px;
	content: "\f14a";
	top: 0;
}

.wps-single- .tagged-features li a {
	text-decoration: none;
	border-bottom: none;
	margin-left: 15px;
}

#-agent,
#-contact {
	float: left;
	width: 48%;
	background: #f5f5f5;
	padding: 25px;
}

#-agent {
	margin-right: 3.8%;
}

#-agent p {
	padding: 0;
}

.wps-single- .connected-agents {
	padding: 0;
}

#-agent .attachment-agent-profile-photo {
	width: 80px;
}

#-agent h5 {
	font-size: 20px;
}

#-agent .agent-social-profiles a {
	border-bottom: 0;
	font-size: 14px;
}

#-contact {
}

#-contact ul {
	margin: 0;
	padding: 0;
}

#-contact li {
	list-style-type: none;
	margin: 0 0 20px;
	padding: 0;
	width: 100%;
}

#-contact li.contactEmail,
#-contact li.contactPhone {
	width: 48.9%;
	float: left;
}

#-contact li.contactPhone {
	margin-left: 2%;
}

#-contact input[type="text"],
#-contact textarea {
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #eee inset;
	color: #999;
	font-size: 14px;
	padding: 16px;
	margin: 0;
	width: 100%;
}

#-contact label.error,
#-contact label span.required {
	font-size: 12px;
	font-weight: 700;
	color: red;
	vertical-align: top;
}

#-contact .thanks {
	padding: 80px 0;
	font-size: 18px;
}

/* Genesis styles */
.content-sidebar .wps-single- .-meta li,
.sidebar-content .wps-single- .-meta li {
	padding-left: 15px;
	font-size: 12px;
}

.content-sidebar .wps-single- .-meta li.-price,
.sidebar-content .wps-single- .-meta li.-price {
	padding-right: 15px;
	font-size: 14px;
	height: 105px;
}

.content-sidebar .wps-single- .ui-tabs .ui-tabs-nav li a,
.sidebar-content .wps-single- .ui-tabs .ui-tabs-nav li a {
	padding: 10px;
	font-size: 12px;
}

/* =Listing overlays
------------------------------------------------------------ */

.wps-single- .-image-wrap span.-status {
	color: #fff;
	background: #53c331;
	background: rgba(83, 195, 49, 0.80);
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.wps-single- .-image-wrap span.-status.active {
	background: #53c331;
	background: rgba(83, 195, 49, 0.80);
}
.wps-single- .-image-wrap span.-status.sold {
	background: #be1d2c;
	background: rgba(190, 29, 44, 0.80);
}
.wps-single- .-image-wrap span.-status.pending {
	background: #db8323;
	background: rgba(219, 131, 35, 0.80);
}
.wps-single- .-image-wrap span.-status.new,
.wps-single- .-image-wrap span.-status.reduced,
.wps-single- .-image-wrap span.-status.for-rent {
	background: #24a4ea;
	background: rgba(36, 164, 234, 0.80);
}

/* =Responsive
------------------------------------------------------------ */

@media only screen and (max-width: 1139px) {
	.wps-single- .-meta li {
		padding-left: 15px;
		font-size: 12px;
	}

	.wps-single- .-meta li.-price {
		padding-right: 15px;
		font-size: 14px;
	}

	.wps-single- .ui-tabs .ui-tabs-nav li a {
		font-size: 12px;
	}
}

@media (max-width: 767px) {
	.wps-single- .-meta li.-price {
		height: 105px;
	}

	.wps-single- .ui-tabs .ui-tabs-nav li {
		float: none;
		width: 100%;
		margin: 0;
	}

	.wps-single- .ui-tabs .ui-tabs-nav li.ui-tabs-active {
		margin-top: -1px;
	}

	.wps-single- .ui-tabs .ui-tabs-nav li a {
		font-size: 14px;
		line-height: 18px;
		border-radius: 0;
		border-bottom: 1px solid #ccc;
	}

	.wps-single- .ui-tabs .ui-tabs-nav li a:after,
	.wps-single- .ui-tabs .ui-tabs-nav li.ui-tabs-active a:after {
		font-family: 'FontAwesome';
		font-size: 16px;
		content: "\f078";
		position: absolute;
		top: 10px;
		right: 15px;
	}

	.wps-single- .ui-tabs .ui-tabs-nav li.ui-tabs-active a:after {
		content: "";
	}

	.wps-single- .ui-tabs .ui-tabs-panel {
		border-top: none;
	}
	
	.wps-single- tbody {
		width: 100%;
		margin-right: 0;
		border-bottom: none;
	}

	.wps-single- td,
	.wps-single- td.label {
		display: block;
		padding: 6px 10px;
		border-top: none;
	}

	.wps-single- td.label {
		font-weight: 700;
	}

	.wps-single- .tagged-features li {
		float: none;
		width: 100%;
		margin-bottom: 5px;
	}

	#-agent,
	#-contact {
		float: none;
		width: 100%;
	}
}

@media (max-width: 480px) {
	.wps-single- .-image-wrap span.-status,
	.wps-single- .-image-wrap span.-open-house {
		font-size: 12px;
	}

	.wps-single- .-meta li,
	.wps-single- .-meta li.-price {
		width: 100%;
		padding: 0 15px;
		height: 100%;
	}

	#-contact li.contactEmail,
	#-contact li.contactPhone {
		width: 100%;
		float: none;
		margin-left: 0;
	}
}